* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
  border: solid black 1px;
}

.issue-container {
  display: flex;
  border: solid black 1px;
  width: 80vw;
  min-height: 100px;
}