* {
    box-sizing: border-box; 
    font-size: 0px;
}

.color {

    height: 25vh;
    border: 5px solid white;
}


.pink {

    background-color: #F5C6D6;
    display: block;
    width: 100;

}

.violet {
    display: inline-block ;
    background-color: blue;
    width: 25%;
    
}

.green {

    background-color: green;
    width: 75%;
    display: inline-block;
}