* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 25px;
}

form {
    padding: 0 15px 0 15px;
}

label {
    display: block;
    margin: 0 0 25px 0;
}

p {
    margin: 15px 0 10px 0;
}

.gender {
    margin: 0 0 15px 35px;
}