.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    width: 50%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    justify-content: space-around;

}

.links > p {
    margin: 30px;
}

.card {
    background-color: blue;
}

.red {
    background-color: red;
}