* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px 0;
    color: #212529;
}

.navlink:hover {
    color: #0085a1;
}

.left-navbar-container {
    font-size: 1.25rem;
    width: 25%;
    margin-left: 300px;
}
.right-navbar-container {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 0 10px 0 10px;
    width: 25%;
    margin-right: 300px;
}

.header-container {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://github.com/StartBootstrap/startbootstrap-clean-blog/blob/master/img/home-bg.jpg?raw=true');
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: 532px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.headings {
    color: #fff;
}

.heading {
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 800;
    line-height: 1.2;
}

.subheading {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Open Sans';
    line-height: 1.1;
    margin: 10px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 760px;
    margin: auto;
    list-style-type: none;
}

.blog-card {
    align-self: center;
    font-family: 'Open Sans', sans-serif;
}

.blog-titles {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2;
    margin: 30px 0 10px 0;
}

.blog-subtitles {
    font-weight: 300;
    margin: 0 0 10px;
    font-size: 1.75rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
}

.posted {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 30px;
    color: #868e96;
    line-height: 1.5;
    font-weight: 400;
}

.blog-hover:hover {
    color: #0085a1;
}

.author:hover {
    color: #0085a1;
}