* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px 0;
    color: #212529;
}

.navlink:hover {
    color: #0085a1;
}

.left-navbar-container {
    font-size: 1.25rem;
    width: 25%;
    margin-left: 300px;
}
.right-navbar-container {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    padding: 0 10px 0 10px;
    width: 25%;
    margin-right: 300px;
}

.header-container {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://github.com/StartBootstrap/startbootstrap-clean-blog/blob/master/img/home-bg.jpg?raw=true');
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    height: 532px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headings {
    color: #fff;
}

.heading {
    font-size: 80px;
    font-family: 'Open Sans';
    font-weight: 800;
    line-height: 1.2;
}

.subheading {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Open Sans';
    line-height: 1.1;
    margin: 10px;
}