.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
    margin: 5px;
}

.friends {
    grid-column: 1;
    background-color: gray;
    color: blue;
    border: 1px solid black;
}

.pets {
    grid-column: 2;
    background-color: blue;
    border: 1px solid black;
}